body{
	color: #282828 ;
	background-color: #A8A8A8 ;
}
#top{
	background-color: #ccc;
	padding: 20px;
}
#list{
	background-color: #D8D8D8 ;
	padding: 10px;
}
.intro{
    color: #0066FF;
    font-weight: bold;
}
.outro{
	color: #0066CC;
	font-weight: bold;
}
ul{
	color: #0099CC;
}
.title{
	color: #000099;
}